// ================================================== max 1090px
@media screen and (max-width: 1140px) {
  .project {
    // .project__wrapper

    &__wrapper {
      margin-bottom: 0;
    }

    // .project__wrap

    &__wrap {
      flex-direction: column;
    }

    // .project__slider

    &__slider {
    }

    // .project__swiper-wrapper

    &__swiper-wrapper {
    }

    // .project__slide

    &__slide {
      position: relative;
    }

    // .project__box

    &__box {
    }

    // .project__box-info

    &__box-info {
      padding: 0;
    }

    // .project__title

    &__title {
      display: none;
    }

    // .project__number

    &__number {
      display: none;
    }

    // .project__description

    &__description {
      display: none;
    }

    // .project__date

    &__date {
      display: none;
    }

    // .project__box-img

    &__box-img {
      display: none;
    }

    // .project__box--text

    &__box--text {
      display: block;
      max-width: rem(342);
      & > img {
        display: none;
      }
    }

    // .project__slide-info

    &__slide-info {
      display: block;
    }

    // .project__slide-description

    &__slide-description {
      & > dt:nth-child(1) {
        position: absolute !important;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0 !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden;
      }

      & dd > p:not(:last-child) {
        padding-bottom: rem(20);
      }
      & dd > p:not(:first-child) {
        padding-bottom: rem(40);
      }
      & dd > p {
        margin-bottom: rem(0);
      }
    }

    // .project__slide-box

    &__slide-box {
      display: flex;
      margin-bottom: rem(10);
      & div:not(:last-child) {
        width: rem(180);
      }
    }

    // .project__slide-date

    &__slide-date {
      // display: none;
      position: absolute;
      bottom: 0;
    }

    // .project__slide-number

    &__slide-number {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    // .project__toggle-btn

    &__toggle-btn {
      display: none;
    }

    // .project__title-tablet

    &__title-tablet {
      display: block;
    }
  }
  .swiper {
  }
  .slider-one {
  }
  .swiper-wrapper {
  }
  .swiper-slide {
  }
  .swiper-pagination {
  }
  .swiper-scrollbar {
  }
  .swiper-button-prev {
    // display: block;
    opacity: 1;
    padding: rem(10) 0 rem(10) rem(10);
  }
  .button-prev--one {
  }
  .swiper-button-next {
    // display: block;
    opacity: 1;
    padding: rem(10) 0 rem(10) rem(10);
    right: rem(0);
  }
  .button-next--one {
  }
}

// @media (max-width: 1090px) {

//   .project {
//     // .project__wrap

//     &__wrap {
//     }

//     // .project__box-info

//     &__box-info {
//     }

//     // .project__title

//     &__title {
//       // margin-bottom: 0;
//     }

//     // .project__number

//     &__number {

//     }

//     // .project__description

//     &__description {
//       // display: none;
//     }

//     // .project__btn

//     &__toggle-btn {
//       // display: none;
//     }

//     // .project__date

//     &__date {
//       // display: none;
//     }

//     // .project__box-img

//     &__box-img {
//       // padding-left: 0;
//       // margin-bottom: rem(27);
//       // @include adaptiveValue("margin-bottom", 27, 30, 3, 820, 375);
//     }
//   }
// }

@media (max-width: 824px) {
  .project {
    // .project__wrapper

    &__wrapper {
    }

    // .project__wrap

    &__wrap {
    }

    // .project__slider

    &__slider {
    }

    // .project__swiper-wrapper

    &__swiper-wrapper {

    }

    // .project__slide

    &__slide {
      & > img {
        min-width: 100%;
        // max-height: 500px;
        // @include adaptiveValue("height", 611, 465, 2, 1140, 820);
        @include adaptiveValue("height", 460, 435, 0, 820, 768);
        @include adaptiveValue("height", 435, 210, 3, 768, 375);
      }
    }

    // .project__box

    &__box {
    }

    // .project__box-info

    &__box-info {
    }

    // .project__title

    &__title {
    }

    // .project__number

    &__number {
    }

    // .project__description

    &__description {
    }

    // .project__date

    &__date {
    }

    // .project__box-img

    &__box-img {
    }

    // .project__box--text

    &__box--text {
    }

    // .project__slide-info

    &__slide-info {
    }

    // .project__slide-description

    &__slide-description {
    }

    // .project__slide-box

    &__slide-box {
    }

    // .project__slide-date

    &__slide-date {
    }

    // .project__slide-number

    &__slide-number {
    }

    // .project__toggle-btn

    &__toggle-btn {
    }

    // .project__title-tablet

    &__title-tablet {
    }
  }
  .swiper {
  }
  .slider-one {
  }
  .swiper-wrapper {
  }
  .swiper-slide {
  }
  .swiper-pagination {
  }
  .swiper-scrollbar {
  }
  .swiper-button-prev {
  }
  .button-prev--one {
  }
  .swiper-button-next {
  }
  .button-next--one {
  }
}

@media (max-width: 700px) {
  .project {
    // .project__wrapper

    &__wrapper {
    }

    // .project__wrap

    &__wrap {
    }

    // .project__slider

    &__slider {
    }

    // .project__swiper-wrapper

    &__swiper-wrapper {
    }

    // .project__slide

    &__slide {
    }

    // .project__box

    &__box {
    }

    // .project__box-info

    &__box-info {
    }

    // .project__title

    &__title {
    }

    // .project__number

    &__number {
    }

    // .project__description

    &__description {
    }

    // .project__date

    &__date {
    }

    // .project__box-img

    &__box-img {
    }

    // .project__box--text

    &__box--text {
      margin-right: 0;
      // width: 100%;
      @include adaptiveValue("width", 342, 130, 0, 700, 375);
      @include adaptiveValue("font-size", 16, 12, 1, 700, 375);
    }

    // .project__slide-info

    &__slide-info {
    }

    // .project__slide-description

    &__slide-description {
      & dd p,
      & > dt:nth-child(1) {
        position: absolute !important;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0 !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden;
      }
    }

    // .project__slide-box

    &__slide-box {
      display: flex;
      flex-direction: column;
      margin-bottom: rem(14.81);

      & div:nth-child(1) {
        text-transform: uppercase;
      }
      & div:not(:last-child) {
        width: rem(0);
        margin-bottom: rem(4.11);
      }
    }

    // .project__slide-date

    &__slide-date {
      position: relative;
    }

    // .project__slide-number

    &__slide-number {
      display: none;
    }

    // .project__toggle-btn

    &__toggle-btn {
    }

    // .project__title-tablet

    &__title-tablet {
    }
  }
  .swiper {
  }
  .slider-one {
  }
  .swiper-wrapper {
  }
  .swiper-slide {
  }
  .swiper-pagination {
  }
  .swiper-scrollbar {
  }
  .swiper-button-prev {
    scale: 0.8;
  }
  .button-prev--one {
  }
  .swiper-button-next {
    scale: 0.8;
  }
  .button-next--one {
  }
}
