// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
  display: grid;
  gap: 20px;
}
// Спойлер
// .spollers__item {

// }
// Заголовок спойлера
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border-bottom: 1px solid var(--text-primary);
  position: relative;
  list-style: none;
  // transition: all 0.5s ease-out 0.5s;
  transition: border-bottom 0.8s ease 0.5s;
  z-index: 1;
  & > img{
    transition: transform 0.5s ease 0.1s;
  }
  
  &::marker {
  }
  ._spoller-init & {
    cursor: pointer;
    &::before,
    &::after {
      // content: "";
      // position: absolute;
      // right: 10px;
      // top: 50%;
      // background-color: #000;
      // height: 2px;
      // width: 15px;
    //   transition: transform 0.5s ease 0s;
    }
    // &::before {
    //   transform: translate(-75%, -50%) rotate(40deg);
    // }
    // &::after {
    //   transform: translate(0, -50%) rotate(-40deg);
    // }
    &._spoller-active {
		z-index: 10;
		// border-bottom: none;
    border-bottom: 1px solid #fff;
    transition: all 0.01s ease;
    & > img{
      transition: transform 0.5s ease 0.1s;
      transform: rotate(-90deg);
    }
      &::before {
        // transform: translateX(-75%) rotate(-40deg);
      }
      &::after {
        transform: rotate(40deg);
      }
    }
    /*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: rem(12);
				height: rem(1);
				transition: all 0.3s ease 0s;
				width: rem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: rem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		*/
    // &._spoller-active {
    //   &::before {
    //     transform: rotate(-40deg);
    //   }
    //   &::after {
    //     transform: rotate(40deg);
    //   }
    // }
  }
}
// Контент спойлера
.spollers__body {
  transition: border-bottom 0.5s linear 0s;
  border-bottom: 1px solid var(--text-primary);
}
