//====================================================================================================

.services-page {
   
}
.services {
  // .services__container

  &__container {
  }

  // .services__box

  &__box {
    // margin-top: rem(160);
    @include adaptiveValue("margin-top", 160, 150, 2, 1920, 820);
    @include adaptiveValue("margin-top", 150, 74, 3, 820, 375);
     // margin-bottom: rem(80);
     @include adaptiveValue("padding-bottom", 80, 45, 2, 1920, 1040);
     @include adaptiveValue("padding-bottom", 45, 0, 1, 1040, 820);
     @include adaptiveValue("padding-bottom", 0, 45, 3, 820, 375);
     border-bottom: 1px solid var(--border-secondary);
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  // .services__title

  &__title {
    font-size: 30px;
    @include adaptiveValue("font-size", 30, 14, 0, 820, 375);
    line-height: 100%;
    text-transform: uppercase;
    padding-right: rem(10);
  }

  // .services__info

  &__info {
    line-height: 140%;
    padding-left: rem(10);
    // padding-bottom: rem(69);
    @include adaptiveValue("padding-bottom", 69, 82, 2, 1040, 820);
    @include adaptiveValue("padding-bottom", 82, 45, 3, 820, 375);

  }

  // .services__spollers

  &__spollers {
    padding-left: rem(10);
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}
// Дивись - базові стилі спойлерів 
.spollers {
  // .spollers__item

  &__item {
    
  }

  // .spollers__title

  &__title {
    font-size: rem(16);
    text-transform: uppercase;
    padding: rem(20) 0 rem(20) 0;
    @include adaptiveValue("padding-bottom", 20, 15, 2, 1040, 820);
    @include adaptiveValue("padding-bottom", 15, 0, 3, 820, 375);
    display: flex;
    justify-content: space-between;
    & > img{
        position: relative;
        bottom: -7.5px;
        @include adaptiveValue(" bottom", -7.5, -10, 0, 1920, 375);
    }
  }

  // .spollers__body

  &__body {
    @include adaptiveValue("padding-top", 10, 15, 2, 1040, 820);
    @include adaptiveValue("padding-top", 15, 20, 3, 820, 375);
    // padding: 0 0 rem(20) 0;
    @include adaptiveValue("padding-bottom", 20, 15, 2, 1040, 820);
    @include adaptiveValue("padding-bottom", 15, 0, 3, 820, 375);
  }
}

//====================================================================================================
